body {
    font-family: Segoe UI;
    font-size: 140%;
}
a {
    color: black;
    text-decoration: none;
    font-family: cursive;
}
a:hover {
    color: blue;
}
.big_img {
    width: 100%;
    height: 500pt;
    position: relative;
    background: url(https://sun9-35.userapi.com/impg/AF8qxdFs-4t310Edhv9PrWWw5Jj6IQWezDj7wQ/IT9tBYNYGHg.jpg?size=687x529&quality=96&sign=88b2302569e9f2c31d21afc94eddc641&type=album);
    background-size: cover;
}
.navigator {
    padding: 10px;
    border: 5px solid black;
    position: absolute;
	top: 200px;
	left: 0;
	width: 15%;
	margin-left: 1%;
}
